:root {
    --dark: #9EBDD7;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

body {
    background-image: linear-gradient(to bottom right, #043059, #2577bf);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.white {
    background-color: white;
}

.black {
    background-color: var(--dark);
}

#chess-board {
    min-width: 500px;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 1px solid black;
    -webkit-box-shadow: 5px 7px 12px -2px rgba(0, 0, 0, 0.47);
    box-shadow: 5px 7px 12px -2px rgba(0, 0, 0, 0.47);
}

.red {
    background-color: red !important;
}

.start {
    background-color: start !important;
}

.square {
    display: flex;
    font-size: 20px;
    color: black;
}